body{
    background: url(../img/bg_content.png) left bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.wrapper,.wrapper>section {
    background: transparent;
}
.sidebar>.nav>li.has-user-block{
	display:none !important;
}
.wrapper>.aside {
    position: inherit;
    width: 100%;
}
.panel.panel-default {
    background: transparent;
}
.wrapper>.aside .aside-inner {
    width: 100%;
	padding:0;
}
.sidebar{
    margin: 0;
    overflow: inherit;
    padding: 0;
    text-align: center;
}
.sidebar > .nav {
   
    text-transform: uppercase;
	font-weight:bold;
}
.sidebar>.nav>li{
	display:inline-block;
	    margin-left: -2px
}
.sidebar .nav>li.active {
    border-left-color: transparent;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border:1px solid #ccc;
}
.table>tbody>tr>td:first-child,.table>thead>tr>th:first-child{
	border-left:none;
}
.table>tbody>tr>td:last-child,.table>thead>tr>th:last-child{
	border-right:none;
}
.table>tbody>tr:last-child >td{
	border-bottom:none;
}
.panel .table {
    border:none;	
    background: #fff;
}
.panel-body {
    padding: 10px;
    overflow: hidden;
    border-radius: 0px;
    border: 0px solid #ccc;
	background-color:#fff;
}
.panel .panel-heading {
    border-bottom: 1px solid #ccc !important;
    font-weight:600;
}
.topnavbar .nav-wrapper{
	background:url(../img/bg_header.png) repeat-x left top;
	
}
.wrapper>.aside{
	background:url(../img/bg_nav.png) repeat-x left top;
}
.user-block .user-block-info .user-block-name {
   
    font-weight: bold;
}
.dropdown > a > .label {

    border-radius: 50%;
}
.dropdown > a > .label {

    right: 10px;
  
}
.user-block-status > .circle {
    right:10px;
	bottom:2px;
}
.sidebar>.nav>li {
    border-left: 0px solid transparent;
}
.sidebar>.nav>li a:hover,.sidebar .nav>li.active>a{
    background-color: rgba(0, 0, 0, 0.19);
    color: #fff;
}
.sidebar>.nav>li.active{
	background:transparent;
}
@media only screen and (min-width: 768px){}
.wrapper>.aside .aside-inner {
    padding-top: 0;
}
.wrapper>footer, .wrapper>section {
    margin-left: 0;
}

}