<div  ng-controller="FooterCtrl">
  <footer id="footer" role="contentinfo" class="page-footer">
      <div class="content page-region grid-wrapper">
        <div  class="grid-element grid-mobile-c1r12 grid-tablet-c1r12 grid-desktop-c1r12 grid-container grid-region region region-footer"><div  class="grid-element grid-mobile-c1r12 grid-tablet-c1r4 grid-desktop-c1r4 grid-linebreak twocolumn-menu"><div class="panel-pane pane-menu-tree pane-menu-footer-service" >
  
    
      <h4 class="pane-title">Services &amp; Info</h4>
    
  
  <div class="menu-block-wrapper menu-block-ctools-menu-footer-service-1 menu-name-menu-footer-service parent-mlid-menu-footer-service:0 menu-level-1">
  <ul class="menu"><li class="first leaf menu-mlid-1735 ep-fancybox fancybox.iframe"><a href="/en/parkplan-overlay" class="ep-fancybox fancybox.iframe">Garden Layout</a></li>
<li class="leaf menu-mlid-1736"><a href="/en/worth-knowing">Worth Knowing</a></li>
<li class="leaf menu-mlid-1737"><a href="/en/park/events/opening-hours">Opening Hours</a></li>
<li class="leaf menu-mlid-1738"><a href="/en/park/prices">Charges</a></li>
<li class="leaf menu-mlid-1740"><a href="/en/services-info/worth-knowing/getting-here">Getting Here</a></li>


</ul></div>

  
  </div>
</div>
<div  class="grid-element grid-mobile-c1r12 grid-tablet-c8r5 grid-desktop-c5r2 grid-mobile-linebreak"><div class="panel-pane pane-menu-tree pane-menu-footer-company" >
  
    
      <h4 class="pane-title">About Destiny</h4>
    
  
  <div class="menu-block-wrapper menu-block-ctools-menu-footer-company-1 menu-name-menu-footer-company parent-mlid-menu-footer-company:0 menu-level-1">
  
  <ul class="menu">
 
  <li class="first leaf menu-mlid-3408"><a href="">About us</a></li>
   <li class="leaf menu-mlid-1741"><a href="">Contact Us</a></li>
<li class="leaf menu-mlid-5852"><a href="">Jobs</a></li>

</ul></div>

  
  </div>
</div>
<div  class="grid-element grid-mobile-c1r12 grid-tablet-c1r7 grid-desktop-c7r4 grid-mobile-linebreak grid-tablet-linebreak"><div class="panel-pane pane-newsletter-signup" >
  
    
      <h4 class="pane-title">Alerts</h4>
    
  
  <div class="description">Stay up-to-date with our newsletter</div><form action="/en" method="post" id="newsletter-signup-form" accept-charset="UTF-8"><div><div class="form-item form-type-emailfield form-item-email">
 <input placeholder="E-Mail" type="email" id="edit-email" name="email" value="" size="20" maxlength="128" class="form-text form-email" />
</div>
<input class="button button-primary rounded-right form-submit" type="submit" id="edit-submit--3" name="op" value="REGISTER" /><input type="hidden" name="form_build_id" value="form-8Ut-leB4ekUCGMTA4LcI1w3FKUqene3tOF0A3qRLtP0" />
<input type="hidden" name="form_id" value="europapark_core_base_pane_newsletter_signup_form" />
</div></form>
  
  </div>
</div>
<div  class="grid-element grid-mobile-c1r12 grid-tablet-c9r4 grid-desktop-c11r2 grid-mobile-linebreak"><div class="panel-pane pane-menu-tree pane-menu-footer-socialmedia" >
  
    
      <h4 class="pane-title">Social Media</h4>
    
  
  <div class="menu-block-wrapper menu-block-ctools-menu-footer-socialmedia-1 menu-name-menu-footer-socialmedia parent-mlid-menu-footer-socialmedia:0 menu-level-1">
  <ul class="menu"><li class="first leaf menu-mlid-1743 icon-fb"><a href="http://www.facebook.de/EuropaPark" europapark_menu_teaser="" class="icon-fb">Facebook</a></li>
<li class="leaf menu-mlid-150138 icon-tw"><a href="https://twitter.com/EuropaParkUK" class="icon-tw">Twitter EN</a></li>
<li class="leaf menu-mlid-1744 icon-yt"><a href="http://www.youtube.de/EuropaParkChannel" europapark_menu_teaser="" class="icon-yt">YouTube Channel</a></li>
<li class="last leaf menu-mlid-150137 icon-instagram"><a href="https://www.instagram.com/europapark_official/" class="icon-instagram">Instagram</a></li>
</ul></div>

  
  </div>
</div>
<div  class="grid-element grid-mobile-c1r12 grid-tablet-c1r12 grid-desktop-c1r12 grid-linebreak"><div class="panel-pane pane-service-hotline" >
  
    
    
  
  Inquiry Direct Line: <a href="tel:+497822776688">+254724 464 805</a>  |  Wedding & Events information and reservation: <a href="tel:+4978228605679">+254724 464 805</a>
  
  </div>
</div>
<div  class="grid-element grid-mobile-c1r12 grid-tablet-c1r12 grid-desktop-c1r12 grid-linebreak"><div class="panel-pane pane-copyright-hint" >
  
    
    
  
  &copy; 2016 Destiny Gardens-Ruiru
  
  </div>
</div></div>      </div>
      <div id="footerbar" class="page-region">
        <div class="grid-wrapper">
          <div  class="grid-element grid-region region region-footerbar"><div  class="grid-element grid-mobile-c1r12 grid-tablet-c1r12 grid-desktop-c1r12 grid-linebreak"><div class="panel-pane pane-footerbar" >
  
    
    
  
  <div class="buttons"><div class="eventlist-container"><a href="#event-list" class="eventlist-link">CURRENT EVENTS</a></div><div class="mlist-container"><a href="#memory-list" class="mlist-link">MY WISHLIST</a></div><div class="btn-close"><a href="javascript:">close</a></div><div class="tickets"><span class="mouse"></span><a href="http://www.europapark.de/en/services-info/worth-knowing/new-2018-water-adventure-resort">All information about the Water Adventure Resort</a></div></div><div class="footer-event-promo-list"><div class="view view-event-list-footerbar view-id-event_list_footerbar view-display-id-panel_pane_1 view-dom-id-171922d4bbbffc6163b6919cc9991ea6">
      
  
  
  
      <div class="view-content">
      <div class="item-list">    <ul>          <li class="">
<a class="linked-container " href="/en/park/events/french-festival"  >

  <div  class="node node-event node-teaser-media node-event-teaser-media view-mode-teaser_media linked-container">

    <div class="field field-name-field-teaserimage field-type-file field-label-hidden"><div id="file-1702" class="file file-image file-image-jpeg">

  <div class="content">
    <img src="images/EP14_DM_015_ViveFrance_1920x1080px.jpg?itok=5vvmTOsH" width="200" height="150" alt="" />  </div>

</div>
</div><div class="field field-name-field-teasertext field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Vive la France</div></div></div>
    
  </div>

</a>

</li>
          <li class="">
<a class="linked-container " href="/en/park/events/after-park-lounge"  >

  <div  class="node node-event node-teaser-media node-event-teaser-media view-mode-teaser_media linked-container">

    <div class="field field-name-field-teaserimage field-type-file field-label-hidden"><div id="file-9336" class="file file-image file-image-jpeg">

  <div class="content">
    <img src="images/After_Park_Lounge_Motiv15_Veranstaltung_Europa-Park.jpg?itok=pHkriFb1" width="200" height="150" alt="" />  </div>

</div>
</div><div class="field field-name-field-teasertext field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">After Park Lounge</div></div></div>
    
  </div>

</a>

</li>
          <li class="">
<a class="linked-container " href="/en/park/events/gazprom-experience-day"  >

  <div  class="node node-event node-teaser-media node-event-teaser-media view-mode-teaser_media linked-container">

    <div class="field field-name-field-teaserimage field-type-file field-label-hidden"><div id="file-6684" class="file file-image file-image-jpeg">

  <div class="content">
    <img src="images/EP_1920_Gazprom_09.jpg?itok=B2jNd8AA" width="200" height="150" alt="" />  </div>

</div>
</div><div class="field field-name-field-teasertext field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">GAZPROM Experience Day</div></div></div>
    
  </div>

</a>

</li>
      </ul></div>    </div>
  
  
  
  
  
  
</div></div><div class="footer-memory-list"><div class="mlist"><div class="mlist-empty">Please select any park destinations to appear here in your memory list. <div class="links"><a href="http://www.europapark.de/en/park/events">Attractions &amp; Shows</a><a href="http://www.europapark.de/en/park/events">Events</a><a href="http://www.europapark.de/en/park/events">Restaurants</a></div></div><div class="mlist-no-cookies">Unfortunately cookies have been disabled in your browser settings. Please activate them before using this feature. </div></div> <div class="mlist-left mlist-pager">d</div><div class="mlist-right mlist-pager">a</div></div><a href="http://www.europapark.de/en/parkplan-overlay" class="button button-secondary rounded parkplan ep-fancybox" data-fancybox-type="iframe">Show parkplan</a><a href="http://www.europapark.de/en/park/events" class="button button-secondary rounded events">All events</a>
  
  </div>
</div></div>        </div>
      </div> <!-- /#footerbar-->
    </footer> <!-- /#footer --> 
</div>


